*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  display: flex;
  height: 100vh;
  flex-direction: column;
}
header{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  background-color: #319ef4;
  align-items: center;
  color:#f3f3f3;
  flex-shrink: 0;
}
.mywarp{
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  height: 90vh;
}
header a{
  color:#f3f3f3;
  text-decoration: none;
}
header>h3{
  margin-left: 30px;
}
.header-right{
  display: flex;
}
.header-right>p{
  margin-right: 10px;
}
.curriculum{
  width: 35vh;
  height: 25vh;
  background-color: #ccc;
  margin: 15px;
}
.curriculum h3{
  text-align: center;
  line-height: 25vh;
}
.list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h4{
  text-align: center;
  /*margin-top: 135px;*/
  margin-bottom: 50px;
}
.index{
  padding-top: 135px;
}
.signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin button{
  display: block;
  width: 140px;
  line-height: 62px;
  background-color: #e0165b;
  border: none;
  border-line:none;
  color: #fff;
  font-size: 25px;
  margin: 0  auto;
  margin-top: 100px;
}
.signin label{
  color:#03a9f4;
}
.mima1{
  margin-right: 25px;
}
.mima2{
  margin-right: 41px;
}
